<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- || Main css file -->
    <link
      rel="stylesheet"
      href="https://treatiseui.netlify.app/CSS/global.css"
    />
    <!-- || Fontawesome file for icons -->
    <script
      src="https://kit.fontawesome.com/01d7227a07.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h1>alert comp</h1>
    <div>simple alert</div>
    <div>outline alerts added</div>
    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fgopalbbharadva%2FTreaTise_UI%2Fblob%2Fdev%2Findex.html&style=a11y-dark&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
  </body>
</html>
